.header {
    background: $light-grey-blue;
    box-shadow: 0 8px 14px 0 rgba(100, 109, 130, 0.16), 0 0 2px 0 rgba(100, 109, 130, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-family: 'Poppins', 'sans-serif';
    font-size: 34px;
    font-weight: 600;
    margin-top: 21px;
    margin-bottom: 23px;
    color: $battleship-grey;
}