// Colours
$white: #ffffff;
$battleship-grey: #646d82;
$light-grey-blue: #a6b1c2;
$midnight: #040e28;
$light-purple: #a97ef1;
$pale-grey: #f7f9fc;
$water-blue: #1398bd;
$bright-light-blue: #42d1e3;
$steel: #73839d;
$tealish: #2aa2c3;
$grapefruit: #f46363;